<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
  <div class="field-row">
    <label class="label t-label" for="title">Series Title *</label>
    <input
      class="input"
      id="title"
      name="title"
      formControlName="title"
      required
    />
    <app-validation-messages
      [control]="form.get('title')"
      validationKey="title"
    ></app-validation-messages>
  </div>

  <app-exercise-form
    *ngFor="let item of items.controls; index as i; last as last"
    [form]="item"
    [index]="i"
    class="exercise-card-form"
  >
    <ul class="l-list-reset">
      <button
        class="button"
        type="button"
        name="delete"
        (click)="removeExercise(i)"
        *ngIf="items.controls.length&gt;1"
      >
        Delete
      </button>
      <button
        class="button"
        type="button"
        name="add"
        (click)="addExercise()"
        *ngIf="last"
      >
        Add another exercise
      </button>
    </ul>
  </app-exercise-form>

  <button class="button" type="submit" [disabled]="!form.valid">Submit</button>
  <button class="button" routerLink="/">Cancel</button>
</form>
