@import '0.settings';
.programming-lang {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 3rem;
  height: 3rem;
  &--light {
    background-color: c(light-grey);
  }
  &--dark {
    background-color: c(black);
  }
}
