h2 Description
p {{exercise.description}}

div(ng-show="!exercise.success" ng-repeat="e in exercise.errors")
  p Line:{{e.line}}
  p {{e.message}}

p(ng-show="exercise.success") {{exercise.successMessage}}
