div(ng-show="!exercise.success" ng-repeat="e in exercise.errors").feedback
  p.feedback-error
    span.t-label.feedback-line Line {{e.line}}
    span.t-paragraph {{e.message}}

div(ng-show="exercise.success").feedback
  p.t-paragraph.feedback-success {{exercise.successMessage}}
