h2 Description
p {{exercise.description}}

div(ng-show="!exercise.success" ng-repeat="e in exercise.errors").feedback
  p.feedback-error
    span.feedback-line Line {{e.line}}
    span {{e.message}}

div(ng-show="exercise.success").feedback
  p.feedback-success {{exercise.successMessage}}
