div(ng-show="exercise.getCurrentExercise().solved")
  p.t-paragraph.feedback-success
    | You solved this exercise.
div(ng-show="exercise.getCurrentExercise().solutionRequested")
  p.t-paragraph.feedback-error
    | You cheated and viewed the solution.


div(ng-show="!exercise.success" ng-repeat="e in exercise.errors").feedback
  p.feedback-error
    span(ng-show="e.line > 0").t-label.feedback-line Line {{e.line}}
    span.t-paragraph {{e.message}}

div(ng-show="exercise.success").feedback
  p.t-paragraph.feedback-success {{exercise.successMessage}}
