@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700);
@import '../../bower_components/bonescss/0.settings.typography';

// Typography settings

$t-regular : 400;
$t-bold    : 700;

$t-default-font-size   : $s-base;
$t-default-font-family : 'Quattrocento Sans', sans-serif;
$t-default-font-weight : $t-regular;
$t-default-font-style  : normal;
$t-default-line-height : 1.375;

$types: (
  default: (
    font-size     : 1rem,
    font-family   : $t-default-font-family,
    font-weight   : $t-regular,
    font-style    : normal,
    line-height   : $t-default-line-height
  ),
  title: (
    font-weight   : $t-bold,
    font-size     : 2.25rem,
    line-height   : 1.667
  ),
  title-small: (
    font-weight   : $t-bold,
    font-size     : 1.75rem,
    line-height   : 1.143
  ),
  label: (
    font-weight   : $t-bold,
    font-size     : 0.75rem,
  ),
  paragraph: (
    font-size     : 1rem,
    line-height   : 1.375
  )
);
