@import '../../bower_components/bonescss/0.settings.colors';

// Color variables
$colors: (
  white           : #FFF,
  grey            : #969896,
  black           : #1a1a1a,
  blue            : #7AA6DA,
  green           : #B9CA4A,
  purple          : #C397D8,
  error           : #E64424
);

$gradients: (
  normal: (
    from: blue,
    to: purple,
    angle: 135deg
  )
);
