@import '../../bower_components/bonescss/0.settings.typography';

// Typography settings

$t-light   : 300;
$t-regular : 400;
$t-bold    : 600;

$t-default-font-size   : $s-base;
$t-default-font-family : 'Source Sans Pro', sans-serif;
$t-default-font-weight : $t-regular;
$t-default-font-style  : normal;
$t-default-line-height : 1.5;

$types: (
  default: (
    font-size     : 1rem,
    font-family   : $t-default-font-family,
    font-weight   : $t-regular,
    font-style    : normal,
    line-height   : 1.375
  ),
  header-title: (
    font-weight   : $t-bold,
    font-size     : 2.625rem,
    line-height   : 1.19
  ),
  title: (
    font-weight   : $t-bold,
    font-size     : 2.25rem,
    line-height   : 1.667
  ),
  subtitle: (
    font-weight   : $t-bold,
    font-size     : 1.75rem,
    line-height   : 1.143
  ),
  paragraph: (
    font-size     : 1rem,
    line-height   : 1.375
  ),
  small: (
    font-weight   : $t-light,
    font-size     : .874rem,
    line-height   : 1.285
  )
) !default;
