@import '../bower_components/sensible/grid';
@import 'mixins';
@import '../../bower_components/bonescss/2.layout';

// Consider adding sensible grid for grid and responsiveness
@include sensibleGrid();

.l-grid-wrap {
  overflow: hidden;
}

.l-list-reset{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.l-centred {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
