// sizes & metrics

$s-design-width: 1024px !default;
$s-golden: 1.61803398875;
$s-base: 1rem !default;

$sizes: (
  huge : $s-base * 3,
  large : $s-base * 1.5,
  medium : $s-base,
  small : $s-base * .5
);

@function s($name: medium) {
  @if map-has-key($sizes, $name) {
    @return map-get($sizes, $name);
  }

  @warn "Unknown `#{$name}` in $sizes.";
  @return null;
}


