@import "mixins";
@import "../../node_modules/bonescss/2.layout";

.code-editor-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: s(medium);
  margin-bottom: s(medium);
}

.l-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: s(medium);
}

.l-list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.l-centred {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
