# Mac
.DS_Store

# Win
Thumbs.db
ehthumbs.db

#IntelliJ
.idea

#yeoman
# node_modules
node_modules
report
coverage
build
tmp

# Log files
*.log

#bower_components
bower_components

### Node ###
# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Generated js files
app/**/*.js
app/**/*.js.map
app-node/**/*.js
app-node/**/*.js.map

# Generated css files
app/**/*.css
app/**/*.css.map

# Typedefinition files
typings
