
div(ui-ace="{\
        mode: '{{::language}}',\
        theme: 'idle_fingers',\
        useWrapMode: true,\
        onLoad: codeEditor.createExerciseDataLoader(),\
        onChange: codeEditor.handleChange\
        }"
)
