div(ui-ace="{\
        mode: '{{language}}',\
        theme: 'tomorrow_night_bright',\
        useWrapMode: true,\
        onLoad: codeEditor.load,\
        onChange: codeEditor.handleChange\
        }"
)
