h2 {{exercise.title}}
button.button(type='button' ng-click="exercise.runExercise()")
  | Run

div(class="l-grid")
  div(class="l-column")
    div(ui-ace="{\
            theme: 'idle_fingers',\
            useWrapMode: true,\
            onLoad: exercise.createExerciseDataLoader(),\
            onChange:exercise.onChange()\
            }"
    )


  div(class="l-column")
    div(ui-view="")

