h2 {{::exercise.title}}
button.button(type='button' ng-click="exercise.runExercise()")
  | Run

div(class="l-grid")
  div(class="l-column")
    code-editor(
      language='{{::topic.language}}',
      init-value='{{::exercise.content}}',
      libs-loader="exercise.libsLoader"
    )
    //div(ui-ace="{\
    //        mode: '{{::topic.language}}',\
    //        theme: 'idle_fingers',\
    //        useWrapMode: true,\
    //        onLoad: exercise.createExerciseDataLoader(),\
    //        onChange:exercise.onChange()\
    //        }"
    //)



  div(class="l-column")
    div(ui-view="")

button.button(ng-hide='exercise.isSolution()' type='button' ng-click="exercise.giveUp()")
  | Give up
