h2 home
p {{home.ctrlName}}

div
  div(class="topic-item" ng-repeat="topic in home.topics")
    a(ui-sref='topic.exercise.details({topicId:topic.id})')
      h1 {{topic.title}}
      p {{topic.language}}
