.home-wrap
  .l-site-width
    a(ui-sref='editTopic()').button New

    div
      div(class="topic-item" ng-repeat="topic in home.topics")
        a(ui-sref='topic.exercise.details({topicId:topic._id})')
          h1 {{topic.title}}
          p {{topic.language}}
