.home-wrap
  .l-site-width
    a(ui-sref='editTopic()').button New

    .l-grid
      .l-grid-cell.l-one-third.l-tablet-one-half.l-mobile-one-whole(ng-repeat="topic in home.topics")
        .topic-item
          a(ui-sref='topic.exercise.details({topicId:topic._id})').t-link
            h1.t-title {{topic.title}}
            p.t-paragraph {{topic.language}}
