<div class="topic-item programming-lang-wrap">
  <a class="t-link" (click)="showDetails(series._id)">
    <h2 class="topic-title-wrap t-title topic-title" ellipsis ellipsis-resize-detection="element-resize-detector">{{series.title}}</h2>
    <app-series-icon [programmingLanguage]="series?.programmingLanguage"></app-series-icon>
  </a>
  <button class="button" (click)="delete(series._id)" *ngIf="isEditable(series.authorId)">Delete</button>
  <button class="button" (click)="edit(series._id)" *ngIf="isEditable(series.authorId)">Edit</button>
</div>