<li [formGroup]="form" class="exercise-card-form">
  <div class="field-row">
    <label class="label t-label" for="title">Exercise Title</label>
    <input class="input" formControlName="title" name="title" />
  </div>
  <div class="field-row">
    <label class="label t-label" for="description">Description *</label>
    <textarea
      class="textarea"
      formControlName="description"
      name="description"
      required
    ></textarea>
    <app-validation-messages
      [control]="form.get('description')"
      validationKey="description"
    ></app-validation-messages>
  </div>
  <div class="field-row">
    <p class="t-paragraph t-info-msg">
      The exercise must contain a placeholder "???". In the solution, the
      placeholder must be replaced with code in order to make the exercise and
      assertions run without errors.
    </p>
    <p class="t-paragraph t-info-msg">
      <a class="t-info-msg" href="http://chaijs.com/">Chai</a> assertions can be
      use to validate the user solution
    </p>
    <p class="t-paragraph t-info-msg">
      You can insert the comment //hidden to hide everything below this keyword.
    </p>

    <div class="code-editor-grid" formGroupName="code">
      <div class="l-grid-cell">
        <label class="label t-label" for="exerciseEditor">Exercise *</label>
        <app-code-editor
          id="exerciseEditor"
          language="typescript"
          formControlName="exercise"
          [modelConfig]="exerciseModelConfig"
        ></app-code-editor>
        <app-validation-messages
          [control]="form.get('code.exercise')"
          validationKey="exercise"
        ></app-validation-messages>
      </div>

      <div class="l-grid-cell">
        <label class="label t-label" for="solution">Solution *</label>
        <app-code-editor
          id="solution"
          language="typescript"
          formControlName="solution"
          [modelConfig]="solutionModelConfig"
          (errorMarkerChanges)="updateSolutionError($event)"
        ></app-code-editor>
        <div *ngFor="let f of solutionFeedback">
          <app-exercise-feedback [feedback]="f"></app-exercise-feedback>
        </div>
        <app-validation-messages
          [control]="form.get('code.solution')"
          validationKey="solution"
        ></app-validation-messages>
      </div>
      <div class="l-grid-cell">
        <app-validation-messages
          [control]="form.get('code')"
          validationKey="code"
        ></app-validation-messages>
      </div>
    </div>
  </div>
  <ng-content></ng-content>
</li>
