@import '../../../common-styles/_0.settings.sizes';
@import '../../../common-styles/_0.settings.colors';
@import '../../../common-styles/_0.settings.typography';

.exercise-card-form {
  overflow: hidden;
  background-color: c(black);
  padding: s(huge) s(small);
  margin-bottom: s(large);
  .label,
  .input,
  .textarea,
  .t-info-msg {
    color: c(light-grey);
  }

  .input,
  .textarea {
    border-color: c(light-grey);
  }
  .code-editor {
    display: block;
  }
}
