.login-name {
  display: inline-block;
  margin-right: s(medium);
}

.account {
  display: inline-block;
  margin-left: s(medium);
  @include breakpoint(mobile) {
    margin-left: 0;
    margin-bottom: s(medium);
  }
}
