.account
  a(ng-hide='account.isLoggedIn' ui-sref='main.login').t-link Login
  a(ng-hide='account.isLoggedIn' ui-sref='main.signUp').t-link Sign up
  p(ng-show='account.isLoggedIn').login-name {{account.loginName}}
  a(ng-show='account.isLoggedIn' ng-click='account.logout()').t-link Logout
