h2 editTopic
p {{editTopic.ctrlName}}


form
  label(for='language') Language
  select(name='language')
    option(value='typescript')
      | Typescript
    option(value='javascript')
      | Javascript
