@import '0.settings';

.filter-tabs {
  margin-bottom: 0;
  padding: 0;
  &--item {
    display: inline-block;
    text-decoration: none;
    &-link {
      display: block;
      padding: s(small) s(medium);
    }
    &.isActive {
      background-color: c(black);
    }
  }
}
