doctype html
html(lang="en" data-ng-app="koans")
  head
    title Learn as you teach – Programming exercises in typescript and javascript.

    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes")
    meta(name="keywords" content="teaching, teach, exercise, programming, code, coding, javascript, typescript, koans, koan")

  body

    div(data-ui-view)

    //- script(src="bundle.js")
