doctype html
html(lang='en' data-ng-app='koans')
  head
    title koans
    meta(charset="UTF-8")
    meta(name='viewport' content='width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes')
    |<!-- inject:head:js -->
    |<!-- endinject -->
    |<!-- inject:html -->
    |<!-- endinject -->
    |<!-- bower:css -->
    |<!-- endbower -->
    |<!-- inject:css -->
    |<!-- endinject -->
  body



    div(data-ui-view)

    |<!-- bower:js -->
    |<!-- endbower -->
    |<!-- inject:js -->
    |<!-- endinject -->
