form(ng-submit='signUp.submit()' name='signUpForm')
  .field-row
    label(for='name').label.t-label  Name
    input.input(id='name' name='name' type='text' ng-model='signUp.user.name' required='')
    div(ng-messages="signUpForm.name.$error")
      p(ng-message="required").t-paragraph.form-error-msg Please enter a name!

  .field-row
    label(for='email').label.t-label  E-mail
    input.input(id='email' name='email' type='email' ng-model='signUp.user.email' required='' validate-email='')
    div(ng-messages="signUpForm.email.$error")
      p(ng-message="required").t-paragraph.form-error-msg Please enter an E-mail!
      p(ng-message="email").t-paragraph.form-error-msg Please enter a valid E-mail!
    p.t-paragraph.form-error-msg {{signUp.duplicatedEmailError}}

  .field-row
    label(for='password').label.t-label  Password
    input.input(id='password' name='password' type='password' ng-model='signUp.user.password' ng-minlength='6' ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required='')
    div(ng-messages="signUpForm.password.$error")
      p(ng-message="required").t-paragraph.form-error-msg Please enter a Password!
      p(ng-message="minlength").t-paragraph.form-error-msg Your password should have at least 6 characters!
      p(ng-message="pattern").t-paragraph.form-error-msg Must contain one lower &amp; uppercase letter, and one non-alpha character (a number or a symbol.)

  .field-row
    label(for='passwordRepeated').label.t-label  Confirm Password
    input.input(id='passwordRepeated' name='passwordRepeated' type='password' ng-model='signUp.passwordRepeated' required='' same-as='signUp.user.password')
    div(ng-messages="signUpForm.passwordRepeated.$error")
      p(ng-message="required").t-paragraph.form-error-msg Please confirm your Password!
      p(ng-message="same-as").t-paragraph.form-error-msg Passwords do not match.

  button.button(type='submit' ng-disabled='signUpForm.$invalid') Submit
  a.button(ui-sref='main.home.topicList') Cancel
