.main-wrap {
  background-image: gradient(green-orange);
  padding: s(huge) s(medium);
  min-height: 100vh;
  box-sizing: border-box;
}

.header {
  margin-bottom: s(huge);
  position: relative;
}

.logo {
 display: inline-block;
}

.header-chunk{
  position: absolute;
  top: 0;
  right: 0;
}

.search-field{
  display: flex;
  margin-bottom: s(huge);
}

.button-search{
  margin-left: s(medium);
}

.filter-tabs {
  margin-bottom: 0;
  padding: 0;
  &--item {
    display: inline-block;
    text-decoration: none;
    margin-bottom: s(medium);
    &-link {
      display: block;
      padding: s(small) s(medium);
    }
    &.active {
      background-color: c(black);
    }
  }
}

.filter-wrap {
  background-color: c(black);
  padding-right: s(medium);
  padding-left: s(medium);
}
