.main-wrap {
  background-color: c(light-grey);
  padding: s(huge) s(medium);
  min-height: 100vh;
  box-sizing: border-box;
}

.header {
  margin-bottom: s(huge);
  position: relative;
}

.logo {
 display: inline-block;
}

.header-chunk{
  position: absolute;
  top: 0;
  right: 0;
}
