.main-wrap {
  background-color: c(light-grey);
  padding: s(large) s(medium);
  min-height: 100vh;
  box-sizing: border-box;
}

.header {
  margin-bottom: s(huge);
  position: relative;
}

.logo {
  margin: 0;

  a {
    display: inline-block;
    width: 250px;
    height: 98px;
    background: url(/assets/learnasyouteach-logo.svg) no-repeat left top;
    background-size: 100%;
    & span {
      display: none;
    }
  }
}

.header-chunk {
  position: absolute;
  top: 0;
  right: 0;
  @include breakpoint(mobile) {
    position: static;
  }
}

.intro {
  max-width: 500px;
  display: block;
  margin: 0 auto s(huge);
  text-align: center;
}
