.header-chunk
  account

.intro
  h1.t-paragraph Programming exercises in typescript and javascript
  p.t-paragraph Search and solve interesting exercises or login and create your own!

div(ui-view="")

