.header-chunk
  button(ui-sref='main.editTopic()' ng-disabled='!header.isLoggedIn').button New
  account

p description about app

.search-field
  input.input(id='search' name='search' type='text' ng-model='header.search')
  button(ng-click='header.loadAllTopics()').button.button-search Search

ul(ng-init="tab = 1" ng-show='header.isLoggedIn').filter-tabs
  li(ng-class="{ active:tab === 1 }").filter-tabs--item
    a(href='', ng-click = "tab = 1;header.loadAllTopics()").filter-tabs--item-link.t-link
      | All Koans
  li(ng-class="{ active:tab === 2 }").filter-tabs--item
    a(href='', ng-click = "tab = 2;header.loadOwnTopics()").filter-tabs--item-link.t-link
      | My Koans

.filter-wrap
  div(ui-view="")

