.topic-list-wrap
  .l-site-width
    .header
      a(ng-hide='header.isLoggedIn' ui-sref='main.login').button Login
      a(ng-hide='header.isLoggedIn' ui-sref='main.signUp').button Sign up
      p(ng-show='header.isLoggedIn').login-name {{header.loginName}}
      a(ng-show='header.isLoggedIn' ng-click='header.logout()').button Logout
      button(ui-sref='main.editTopic()' ng-disabled='!header.isLoggedIn').button New
      a(ng-show='header.isLoggedIn && header.isShowAll' ng-click='header.loadOwnTopics()').button My Koans
      a(ng-show='header.isLoggedIn && !header.isShowAll' ng-click='header.loadAllTopics()').button All Koans

  div(ui-view="")
