h2 {{run.title}}
p {{run.description}}


div(ng-controller="TabController as tab")
  ul
    li(ng-class="{ active:tab.isSelected(1)}")
      a(href='', ng-click="tab.selectTab(1)")
        | Your Code
    li(ng-class="{ active:tab.isSelected(2)}")
      a(href='', ng-click="tab.selectTab(2);run.loadSolution()")
        | Solution
  div(ng-show="tab.isSelected(1)")
    div(ui-ace="{\
      mode: 'json',\
        theme: 'idle_fingers',\
        useWrapMode: true,\
        onLoad: run.createExerciseDataLoader(),\
        onChange:run.onChange()\
        }"
    )
    p(ng-show="!run.success") {{run.errorMessage}}
    p(ng-show="run.success") {{run.successMessage}}
    button.button(type='button' ng-click="run.runExercise()")
      | Run
  div(ng-show="tab.isSelected(2)")
    div(ui-ace="{\
      mode: 'json',\
        theme: 'idle_fingers',\
        useWrapMode: true,\
        onLoad: run.createSolutionDataLoader()\
        }"
    )
