h2 run
p {{run.ctrlName}}

p {{run.language}}
h1 {{run.title}}
p {{run.description}}

div(ui-ace="{\
  mode: 'json',\
    theme: 'idle_fingers',\
    useWrapMode: true,\
    onLoad: run.createExerciseDataLoader(),\
    onChange:run.onChange()\
    }"
)

p(ng-show="!run.success") {{run.errorMessage}}
p(ng-show="run.success") {{run.successMessage}}

button.button(type='button' ng-click="run.runExercise()")
  | Run

