$arrow-size: 30;
$arrow-line-width: 3;

$border-space: (sqrt(2*$arrow-line-width*$arrow-line-width))*0.5;
$arrow-space: (sqrt(2 * $arrow-size*$arrow-size) - $arrow-size)*0.5;

$arrow-margin: $border-space + $arrow-space + px;


.topic-bg {
  background-image: gradient(blue-green);
}

.ex-nav{
  &--prev,
  &--next {
    width: $arrow-size+px;
    height: $arrow-size+px;
    transform: rotate(-45deg);
    display: inline-block;
    transition: border-color 200ms;
    margin: $arrow-margin;
    &:hover{
      border-color: c(green);
    }
  }
  &--next {
    border-right: $arrow-line-width+px solid c(black);
    border-bottom: $arrow-line-width+px solid c(black);;
    float:right;
  }
  &--prev {
    border-left: $arrow-line-width+px solid c(black);
    border-top: $arrow-line-width+px solid c(black);
  }
  @include clearfix;

}

