$arrow-size: 30;
$arrow-line-width: 3px;

$arrow-space: sqrt(2 * ($arrow-size/2)*($arrow-size/2)) - ($arrow-size/2);

.topic-bg {
  background-image: gradient(blue-green);
}

.ex-nav{
  &--prev,
  &--next {
    width: $arrow-size+px;
    height: $arrow-size+px;
    transform: rotate(-45deg);
    display: inline-block;
    transition: border-color 200ms;
    margin-top: $arrow-space+px;
    &:hover{
      border-color: c(green);
    }
  }
  &--next {
    border-right: $arrow-line-width solid c(black);
    border-bottom: $arrow-line-width solid c(black);
    margin-right: $arrow-space+px;
    float:right;
  }
  &--prev {
    border-left: $arrow-line-width solid c(black);
    border-top: $arrow-line-width solid c(black);
    margin-left: $arrow-space+px;
  }
  @include clearfix;

}

