h1 {{topic.data.title}}
p {{topic.data.language}}

div(ui-view="")

a(href=""
ng-click="topic.previousExercise()"
ng-show="topic.hasPreviousExercise()")
  | Previous

a(href=""
ng-click="topic.nextExercise()"
ng-show="topic.hasNextExercise()")
  | Next

