h1 {{topic.data.title}}
p {{topic.data.language}}

div(ui-view="")

a(ui-sref='topic.run({exId:topic.exerciseId-1})',
ng-show="topic.exerciseId > 1")
  | Previous

a(ui-sref='topic.run({exId:topic.exerciseId+1})',
ng-show="topic.exerciseId < topic.exerciseCount")
  | Next

