<div class="main-wrap">
  <div class="l-site-width">
    <div class="header">
      <app-logo></app-logo>
      <a class="button button-prev" routerLink="/">Overview</a>
      <h1 class="t-title main-title">{{(series$ | async) ?.title}}</h1>
      <app-progress-bar *ngIf="(series$ | async)" [exercises]="(series$ | async).items" [userProgress]="(userStates$ | async)">
      </app-progress-bar>
      <div class="programming-lang-wrap">
        <app-series-icon [programmingLanguage]="(series$ | async)?.programmingLanguage" light="true"></app-series-icon>
        <div class="exercise-card">
          <router-outlet #o="outlet"></router-outlet>
          <app-exercise-nav-buttons [userProgress]="(userState$ | async)" [exId]="(ex$ | async)?.sortOrder" [exerciseCount]="(series$ | async)?.items.length"></app-exercise-nav-buttons>
        </div>
      </div>
    </div>
  </div>
</div>