<div class="exercise-card">
  <div class="exercise-card-info">
    <h2 class="t-title-small exercise-title">{{exercise?.title}}</h2>
    <p class="t-paragraph exercise-description">{{exercise?.description}}</p>
  </div>
  <div class="l-grid-wrap">
    <div class="l-grid code-editor-wrap">

      <div class="l-grid-cell l-one-half l-mobile-one-whole">
        <app-code-editor [language]='exercise?.programmingLanguage' [(ngModel)]='userSolution' (errorMarkerChanges)="updateFeedback($event)"></app-code-editor>
      </div>

      <div class="l-grid-cell l-one-half l-mobile-one-whole">
        <app-code-editor *ngIf="solutionVisible" [language]='exercise?.programmingLanguage' [ngModel]='exercise?.solution'></app-code-editor>
        <div *ngIf="!solutionVisible" *ngFor="let f of feedback">
          <app-exercise-feedback [feedback]='f'></app-exercise-feedback>
        </div>
      </div>
    </div>

  </div>
  <button class="button" (click)="toggleSolution()">{{!solutionVisible && "Show" || "Hide"}} solution</button>
  <button class="button button-prev" *ngIf="exercise?.hasPrevious" type="button" (click)="previous()">Previous</button>
  <button class="button button-next" *ngIf="exercise?.hasNext && (exercise?.solved || exercise?.solutionRequested)" type="button"
    (click)="next()">Next</button>
</div>