<app-exercise-text [ex]="ex$ | async"></app-exercise-text>
<div class="l-grid-wrap">
  <div class="l-grid code-editor-wrap">

    <div class="l-grid-cell l-one-half l-mobile-one-whole">
      <app-code-editor [language]='programmingLanguage' [(ngModel)]='userValue' (errorMarkerChanges)="updateFeedback($event)"></app-code-editor>
    </div>

    <div class="l-grid-cell l-one-half l-mobile-one-whole">
      <app-code-editor *ngIf="(userState$ | async)?.solutionVisible" [language]='programmingLanguage' [ngModel]='(ex$ | async)?.solution'></app-code-editor>
      <div *ngIf="!(userState$ | async)?.solutionVisible">
        <app-exercise-feedback *ngFor="let f of feedback" [feedback]='f'></app-exercise-feedback>
      </div>
    </div>
  </div>

</div>
<button class="button" (click)="toggleSolution()">{{!(userState$ | async)?.solutionVisible && "Show" || "Hide"}} solution</button>