$spacing: s(medium);



.topic-list {
  margin-top: -$spacing;
  margin-bottom: -$spacing;
}
.topic-item {
  background-color: c(light-grey);
  height: 200px;
  padding: s(small);
  margin-top: $spacing;
  margin-bottom: $spacing;


  display: block;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}
