.search-field{
  margin-bottom: s(huge);
}

.filter-tabs {
  margin-bottom: 0;
  padding: 0;
  &--item {
    display: inline-block;
    text-decoration: none;
    &-link {
      display: block;
      padding: s(small) s(medium);
    }
    &.active {
      background-color: c(black);
    }
  }
}

.filter-wrap {
  background-color: c(black);
  padding: s(medium);
}

.topic-item {
  background-color: c(light-grey);
  min-height: 234px;
  padding: s(small);
  margin-bottom: s(large);


  display: block;
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  &--text {
    display: block;
    min-height: 174px;
  }
}

.topic-title {
  word-wrap: break-word;
}

.topic-list-message {
  color: c(white);
}
