$icon-loupe-size: s(large);
$icon-space-left: s(medium);

// Defines the visible lines until ellipsis is shown.
$lines            : 2;
$title-wrap-height: $lines * ($t-title-font-size * $t-title-line-height);

$title-wrap-space-bottom: s(large);
$button-height: ($t-default-font-size * $t-default-line-height) + ( 2 * s(small));
$topic-item-padding: s(small);

.search-field{
  position: relative;
  margin-bottom: s(huge);

  .icon-loupe {
    position: absolute;
    top: 50%;
    left: $icon-space-left;
    transform: translate(0, -50%);

    height: $icon-loupe-size;
    width: $icon-loupe-size;

    background: url(/assets/icon-loupe.svg) no-repeat left top;
    background-size: 100%;
    transition: background-image 200ms;
  }

  .input {
    padding-left: s(small) + $icon-loupe-size + $icon-space-left;
  }
}

.filter-tabs {
  margin-bottom: 0;
  padding: 0;
  &--item {
    display: inline-block;
    text-decoration: none;
    &-link {
      display: block;
      padding: s(small) s(medium);
    }
    &.isActive {
      background-color: c(black);
    }
  }
}

.filter-wrap {
  background-color: c(black);
  padding: s(medium);
}

.topic-item {
  background-color: c(light-grey);
  min-height: $title-wrap-height + $title-wrap-space-bottom + $button-height + (2 * $topic-item-padding);
  padding: $topic-item-padding;
  margin-bottom: $title-wrap-space-bottom;


  display: block;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.topic-title {
  word-wrap: break-word;
  margin-right: 3rem;
  &-wrap {
    height: $title-wrap-height;
    overflow: hidden;
  }
}

.topic-list-message {
  color: c(white);
}
