$spacing: s(medium);

.topic-list {
  margin-top: -$spacing;
  margin-bottom: -$spacing;
}
.topic-item {
  background-color: c(light-grey);
  min-height: 234px;
  padding: s(small);
  margin-top: $spacing;
  margin-bottom: $spacing;


  display: block;
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  &--text {
    display: block;
    min-height: 174px;
  }
}

.topic-title {
  word-wrap: break-word;
}
