.l-grid.topic-list
  .l-grid-cell.l-one-third.l-tablet-one-half.l-mobile-one-whole(ng-repeat="topic in topicList.topics")
    a(ui-sref='main.topic.exercise.details({topicId:topic._id})').topic-item.t-link
      h1.t-title {{topic.title}}
      p.t-paragraph {{topic.language}}
    button(name='delete' ng-click='topicList.deleteTopic(topic._id, $index)' ng-show='topicList.equalsUser(topic.authorId)').button Delete
    button(name='edit' ui-sref='main.editTopic({id:topic._id})' ng-show='topicList.equalsUser(topic.authorId)').button Edit
