@import "../../../common-styles/_0.settings.colors";
@import "../../../common-styles/_0.settings.sizes";
@import "../../../common-styles/_0.settings.typography";

$icon-loupe-size: s(large);
$icon-space-left: s(medium);

// Defines the visible lines until ellipsis is shown.
$lines: 2;
$title-wrap-height: $lines * ($t-title-font-size * $t-title-line-height);

$title-wrap-space-bottom: s(large);
$button-height: ($t-default-font-size * $t-default-line-height) + ( 2 * s(small));
$topic-item-padding: s(small);

.filter-tabs {
  margin-bottom: 0;
  padding: 0;
  &--item {
    display: inline-block;
    text-decoration: none;
    &-link {
      display: block;
      padding: s(small) s(medium);
    }
    &.isActive {
      background-color: c(black);
    }
  }
}

.filter-wrap {
  background-color: c(black);
  padding: s(medium);
}

.topic-item {
  background-color: c(light-grey);
  min-height: $title-wrap-height + $title-wrap-space-bottom + $button-height + (2 * $topic-item-padding);
  padding: $topic-item-padding;
  margin-bottom: $title-wrap-space-bottom;

  display: block;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.topic-title {
  word-wrap: break-word;
  margin-right: 3rem;
  &-wrap {
    height: $title-wrap-height;
    overflow: hidden;
  }
}

.topic-list-message {
  color: c(white);
}


.programming-lang-wrap {
  position: relative;
}

.programming-lang {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 3rem;
  height: 3rem;
  &--light {
    background-color: c(light-grey);
  }
  &--dark {
    background-color: c(black);
  }
}

.main-title {
  display: inline-block;
  margin-left: s(large);
}
