.logo {
  margin: 0;

  a {
    display: inline-block;
    width: 187px;
    height: 73px;
    background: url(../../../../assets/logo.svg) no-repeat left top;
    background-size: 100%;
    & span {
      display: none;
    }
  }
}
