// global settings
$boilerplate-mode: true !default;

@if not $boilerplate-mode {
  $layout-classes: false;
  $helper-classes: false;
  $form-classes: false;
  $state-classes: false;
}

// if in boilerplate-mode adapt the prefixes to your need
// by default bonescss will create placeholders selectors and regular selectors
// this will result in classnames like:
// %l-site-width, .l-site-width { /* foobar */ }
// if not in boilerplate mode this will be ignored

$layout-selectors: '%l-' '.l-';
$text-selectors: '%t-' '.t-';
$form-selectors: '%form-' '.form-';
$state-selectors: '%is-' '.is-';
$state-selectors-and: '&%is-' '&.is-';

@import './_0.settings.colors';
@import './_0.settings.sizes';
@import './_0.settings.typography';
